* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New',;
    box-sizing: border-box;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    width: 100%;
    padding: 78px 0px;
    /* background-color: gray; */
}

.about img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-text h1 {
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 3px;
}

span {
    color: #f9004d;
}

.about-text p {
    color: navy;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    letter-spacing: initial;
}

button {
    background: rgb(231, 60, 60);
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
}
button a{
    text-decoration: none;
    color: aliceblue;
}

button:hover {
    border-radius: 50%;
    border: 2px solid;
    cursor: pointer;
    box-shadow: 10px 10px 20px black;

}

.img {
    animation: fadeInRight 2s ease;
    padding: 2rem;
}

.main {
    width: 100%;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 2;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 2;
        transform: translateX(0px);
    }
}

footer {
    background-color: rgb(145, 105, 42);
    color: white;
    padding: 40px;
    margin-top: 20px;
    text-align: center;
}

nav {
    background-color: rgb(145, 105, 42);
}

footer i {
    padding: 5px;
}

footer p:hover {
    color: red;
    cursor: pointer;
}